body {
  margin: 0px !important;
  padding: 0px !important;
  overflow: hidden !important;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  height: calc(100vh - 200px);
  overflow-y: scroll;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.flex::-webkit-scrollbar {
  width: 8px;
}

.flex::-webkit-scrollbar-track {
  background-color: transparent;
}

.flex::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

.flex:hover::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.flex-item {
  width: 30%;
  margin: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
